<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.app.raspinf" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.app.raspinf.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.app.raspinf.StudentActivity"
            android:label="@string/title_activity_student" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.app.raspinf.MainActivity" />
        </activity>
        <activity
            android:name="ru.app.raspinf.PrepodActivity"
            android:label="@string/title_activity_prepod">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.app.raspinf.MainActivity" />
        </activity>
        <activity
            android:name="ru.app.raspinf.PastRaspActivity"
            android:label="@string/title_activity_past_rasp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.app.raspinf.MainActivity" />
        </activity>
        <activity
            android:name="ru.app.raspinf.PresentRaspActivity"
            android:label="@string/title_activity_present_rasp">
        </activity>
        <activity
            android:name="ru.app.raspinf.SettingsRaspActivity"
            android:label="@string/title_activity_settings_rasp" >
        </activity>
        <activity android:name="ru.app.raspinf.Prefs"
            android:label="@string/app_name">
        </activity>
        <activity android:name="ru.app.raspinf.PrefsActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
